<div class="p-2 mt-4 p-lg-5 mt-lg-0">
  <h1 class="mb-3"><%= title %></h1>
  <%- include("./partials/errors.ejs") %>
  <form action="/login" method="post">
    <div class="mb-4">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" class="form-control" required autofocus />
    </div>

    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
