<div class="p-2 mt-4 p-lg-5 mt-lg-0">
    
    <div class="d-flex  flex-column flex-md-row justify-content-between align-items-center gap-2 gap-md-0 mb-5 mb-md-3">
        <h1 class="d-flex align-items-center gap-3">
            <img src="/icons/settings.svg" alt="" style="width: 40px;"><%= title %>
        </h1>
        <a href="/folder/create" class="btn btn-primary d-flex align-items-center gap-2">
            <img src="/icons/plus.svg" alt="" class="filter-white btn-icon-24" />Add folder
        </a>
    </div>
    
    <% if (locals.folders?.length > 0) { %>
        <div class="row mx-0 g-2">
            <% folders.forEach(folder => { %>
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center gap-2">
                    <div class="card-text col col-lg-5 d-flex gap-2">
                        <img src="/icons/folder.svg" alt=""><%= folder.name %>
                    </div>
                    <div class="card-text col-auto d-flex gap-1 me-4">
                        <span class="fw-bold"><%= folder._count.files %></span>files
                    </div>
                    <div class="col-auto d-flex gap-2">
                        <a href="/folder/edit/<%= folder.id %>" class="btn btn-secondary btn-sm">Edit</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    <% } else { %>
        <div class="text-center text-md-start">No folders added</div>
    <% } %>  
</div>
