<div class="p-2 mt-4 p-lg-5 mt-lg-0">

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-2 gap-md-0 mb-5 mb-md-3">
        <h1 class="d-flex align-items-center gap-2">
            <img src="/icons/history.svg" alt="" class="heading-icon-40">
            <%= title %>
        </h1>
        <a href="/file/upload" class="btn btn-primary d-flex align-items-center gap-2">
            <img src="/icons/upload.svg" alt="" class="filter-white btn-icon-24" />
            Upload File
        </a>
    </div>

    <% if (locals.files?.length > 0) { %>
        <%- include("./partials/recentFilesList.ejs") %>
    <% } else { %>
        No files uploaded
    <% } %>
</div>