<h1><%= title %></h1>
<%- include("./partials/errors.ejs") %>
<form action="/sign-up" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
  </div>

  <button type="submit">Create account</button>
</form>
